# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.db
*.sqlite3

# Fonts
fonts/*.pkl

# Virtual environment
.venv/
venv/
.env/
env/

# Flask-specific files
instance/
*.log

# Jupyter Notebook files
.ipynb_checkpoints

# My IDE's settings (if using PyCharm, VS Code, etc.)
.vscode/
.idea/

# Node modules if you use any frontend framework
node_modules/

# Python package distribution files
*.egg-info/
dist/
build/

# Configuration files (if any)
*.env

# MacOS system files
.DS_Store

# Windows system files
Thumbs.db
